# Data Science Tools and Ecosystem #

## Author ##
Jens M. Warnsloh

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- to list popular languages that Data Scientists use
- to list commonly used libraries used by Data Scientists
- to list Data Science tools
- how to make and show arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

| Data Science Tools |
|------------------- |
| Jupyter|
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python. ###

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
z = (3*4)+5
print(z)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
hours = (200/60)
print(hours)

3.3333333333333335